<mat-dialog-content class="mat-typography" *transloco='let t'>
  <p>{{t('lists.add_dialog.title')}}</p>
  <mat-form-field class="w-100">
    <mat-label>{{t('lists.add_dialog.name')}}</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" *transloco='let t'>
  <button mat-button (click)="onNoClick()">{{t('common.dialog.cancel')}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.name"
          cdkFocusInitial>{{t('common.dialog.ok')}}</button>
</mat-dialog-actions>
