<li class="d-flex justify-content-between h-100 list-divider" *transloco='let t'>

  <span [class.text-decoration-line-through]="item.done" class="align-self-md-center">
    {{item.name}}
  </span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Delete">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button (click)="delete.emit(item.id)" mat-menu-item>{{t("lists.item.delete")}}</button>

    <button *ngIf="!item.done" (click)="markAsDone.emit(item.id)"
            mat-menu-item>{{t("lists.item.mark_as_done")}}</button>

    <button *ngIf="item.done" (click)="markAsPending.emit(item.id)"
            mat-menu-item>{{t("lists.item.mark_as_pending")}}</button>
  </mat-menu>

</li>
