<mat-card *transloco='let t'>

  <mat-card-title class="d-flex justify-content-between">

    <span>{{list?.name}}</span>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="Delete">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="delete.emit(list.id)" mat-menu-item>{{t("lists.delete")}}</button>
    </mat-menu>
  </mat-card-title>

  <mat-card-content>
    <ul class="pt-3" id="todo-items-list">
      <todo-list-item *ngFor="let item of list.items; trackBy: itemId; let first = first; let last = last"
                 [item]="item"
                 [first]="first"
                 [last]="last"
                      (delete)="deleteItem(item.id)"
                 (markAsDone)="markAsDone(item.id)"
                 (markAsPending)="markAsPending(item.id)"
      ></todo-list-item>
    </ul>
  </mat-card-content>

  <mat-card-actions class="d-flex ms-4 me-4">

    <mat-form-field class="align-self-md-center flex-fill">
      <mat-label>{{t('lists.item.add')}}</mat-label>
      <input matInput [(ngModel)]="name" placeholder="" value=""/>
      <mat-error>
      </mat-error>
    </mat-form-field>

    <div class="align-self-md-center">
      <button mat-raised-button class="ms-2" (click)="createItem()" color="primary">
        <mat-icon aria-hidden="false">add</mat-icon>
      </button>
    </div>
  </mat-card-actions>

</mat-card>
